<!DOCTYPE html>
<html>
<head>
  <title>Saphira</title>
  <%= stylesheet_link_tag    "saphira/application" %>
  <%= javascript_include_tag "saphira/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
